<!-- Search Function: Input + Button -->
<section class="display-center">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar" id="searchInput" />
        <button class="btn" id="searchButton"></button>
    </div>
</section>

<style>
    #searchInput {
        width: 100px;
        height: 40px;
    }

    .input-group #searchButton {
        width: auto;
        height: 40px;
        padding: 0 10px 0 10px;
        background: blue !important;
        font-size: 1.25em;
        color: var(--clr-text);
    }
</style>