@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@import '../../../../assets/css/global.css';
@import '../../../../assets/css/table.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: white;
    height: 100%;
}


.display-center {
    display: grid;
    place-items: center;
}

.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none {
    display: none;
}

.img {
    width: 100%;
    border-radius: 5px;
}

.mg-05em {
    margin: .5em;
}

.select-hidden {
    display: none;
    /* Ocultar el select */
}

.text-center {
    text-align: center;
}

.text-nodeco {
    text-decoration: none;
}

.input-group {
    width: 250px;
}

/*===== ===== ===== Card ===== ===== =====*/
.card {
    width: 380px;
    padding: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.card img,
.photo {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin-top: auto;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.card-2 {
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    border: 2px, solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}



/* Main */
.main-content {
    display: flex;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.main-container {
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow-y: auto;
    display: block;
    background-color: white;
}

