/* General Styles */
body, table {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Table Layout */
.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.table th, .table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
    color: #666;
}

/* Table Header */
thead th {
    position: sticky;
    top: 0;
    background-color: var(--clr-secondary) !important; /* Verde suave */
    color: #1d1d1b !important;
    font-weight: 500;
    z-index: 2;
}

/* Sticky Columns */
td:first-child, th:first-child,
td:nth-child(2), th:nth-child(2) {
    position: sticky;
    left: 0;
    background-color: var(--clr-secondary) !important;
    color: #1d1d1b !important;
    z-index: 1;
}

th:first-child, th:nth-child(2) {
    z-index: 3;
}

/* Specific Column Styles */
table td.nombre-columna {
    max-width: fit-content;
    padding: 8px 20px;
}

/* Flexbox Utilities */
.flex-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

/* Select Styles */
.select-container {
    display: inline-block;
}

select {
    max-width: 10px;
    padding: 2px 4px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #666;
}

/* Timestamps */
.timestamp {
    color: gray;
    font-size: 0.75em;
    font-style: italic;
    margin-top: 4px;
    display: inline-block;
}

/* Highlight Sundays */
th.sunday {
    color: var(--clr-error) !important;
    font-weight: bold;
}

/* Sticky Table Container */
.main-container {
    position: relative;
    max-height: 600px;
    overflow: auto;
}

/* Button Styles */
#delete-board-button {
    background-color: red;
}

#downloadToExcel {
    background-color: green;
}

tr {
    height: 100%;
}

td {
    vertical-align: middle;
    height: 100%;
}
