<!-- Middle Section -->
<section class="middle-section">
  <div id="middleSection">
    <div class="display-flex-center">
      <h1>Registro de: ____</h1>
      <ion-icon
        name="add-circle-outline"
        data-bs-toggle="modal"
        data-bs-target="#newRegisterModal"
        id="showModalButton"
      ></ion-icon>
    </div>
  </div>
</section>

<style>
  .middle-section {
    padding: 0 10px;
  }

  .middle-section h1 {
    font-weight: 500;
    font-size: 1.2em;
    color: var(--clr-text);
    margin: 15px;
    text-align: center;
  }

#middleSection ion-icon{
    font-size: 3em;
    color: var(--clr-secondary);
    z-index: 5;
}

</style>
