/* Contenedor principal para tabla con scroll */
.main-container {
    position: relative;
    max-height: 600px;
    overflow: auto;
}

.table {
    border-collapse: collapse;
    table-layout: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.role-select,
.estado-select,
.pay-select {
    width: 10px;
    margin-left: 5px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #666;
    text-align: center;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    font-weight: 500;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Segunda columna */
td:nth-child(2) {
    position: sticky;
    left: 0px;
    /* Fija la columna al desplazarte horizontalmente */
    background-color: white;
    /* Fondo para evitar superposición visual */
    z-index: 1;
    /* Asegura que la celda sea visible sobre otras filas */
    border-right: 1px solid #ddd;
}

/* Encabezado específico de la segunda columna */
th:nth-child(2) {
    position: sticky;
    left: 0;
    /* Fija al desplazarte horizontalmente */
    top: 0 !important;
    /* Asegura que el encabezado permanezca fijo también al desplazarte verticalmente */
    z-index: 50;
    /* Prioridad más alta para superposición */
    background-color: #f2f2f2;
    /* Color de fondo */
}